.towers {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 20px auto;
  padding: 10px;
}

.tower-container {
  display: flex;
  min-width: 200px;
  margin-bottom: 10px;
}

.tower {
  align-content: stretch;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 15px;
  min-height: 200px;
  background-color: rgb(162, 162, 162);
}

.tower:hover {
  opacity: 0.8;
  transition: 0.3s;
}

.tower > .disk:first-child {
  background-color: rgb(93, 196, 255);
}

.disk {
  border-radius: 10px;
  height: 50px;
  margin-top: 15px;
  background-color: rgb(57, 139, 194);
}
