.App {
  max-width: 900px;
  margin: 0 auto;
  background-color: offwhite;
  font-size: 1.4rem;
  text-align: center;
}

.game__title {
  max-width: 0 auto;
}

.game__description {
  text-align: center;

  margin: 20px;
}

.game__level-input {
  border: none;
  border-bottom: 1px solid rgb(201, 201, 201);
  min-width: 200px;
  font-size: 1.4rem;
  margin: 15px;
}

.game__level-input:focus {
  border: none;
  border-bottom: 2px solid rgb(80, 182, 255);
  /* outline: none; */
}

.game__btn {
  border-radius: 7px;
  border: none;
  background-color: rgb(80, 182, 255);
  color: white;
  font-size: 1.4rem;
  min-height: 40px;
  min-width: 200px;
}

.game__btn:hover {
  transition: 0.4s;
  opacity: 0.7;
}

.game__btn:disabled {
  background-color: rgb(158, 158, 158);
}

@media only screen and (max-device-width: 768px) {
  .App {
    font-size: 1.2rem;
  }
}

@media only screen and (max-device-width: 480px) {
  .App {
    font-size: 1rem;
  }
}
